// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "fontawesome/font-awesome";
@import "plugins/morris";
@import "identificacao";
@import "banner";
@import "timeline";
@import "aptidoes";


// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

body, html{ font-family: "Titillium Web", Tahoma, Arial, sans-serif !important; }

body{
  color: white;
  background: #3E484A url(/img/textura-granulada.png);
    section{
    .icon{
      text-align: center;
      padding: 40px;
      i{
        background-color: #03A9F4;
        border: 1px solid #03A9F4;
        border-radius: 50%;
        margin-right: 5px;
        padding: 5px 6px;
      }
    }
  }
//   // $cinza-claro: #556;
//   // $cinza-claro: #ddd;
//   $cinza-claro: #e7e7e7;
//
//   // $cinza-medio: #445;
//   // $cinza-medio: #cacaca;
//   $cinza-medio: #d9d9d9;
//
//   // $cinza-escuro: #99a;
//   // $cinza-escuro: #ededed;
//   $cinza-escuro: #ffffff;
//
//   background-color: $cinza-claro;
//   background-image: linear-gradient(30deg, $cinza-medio 12%, transparent 12.5%, transparent 87%, $cinza-medio 87.5%, $cinza-medio),
//   linear-gradient(150deg, $cinza-medio 12%, transparent 12.5%, transparent 87%, $cinza-medio 87.5%, $cinza-medio),
//   linear-gradient(30deg, $cinza-medio 12%, transparent 12.5%, transparent 87%, $cinza-medio 87.5%, $cinza-medio),
//   linear-gradient(150deg, $cinza-medio 12%, transparent 12.5%, transparent 87%, $cinza-medio 87.5%, $cinza-medio),
//   linear-gradient(60deg, $cinza-escuro 25%, transparent 25.5%, transparent 75%, $cinza-escuro 75%, $cinza-escuro),
//   linear-gradient(60deg, $cinza-escuro 25%, transparent 25.5%, transparent 75%, $cinza-escuro 75%, $cinza-escuro);
//   background-size:80px 140px;
//   background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
